/* Importing Google Fonts - Roboto */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: radial-gradient(#c382ef, #6914d1, #1a0336);
}

.chatbot-popup {
    width: 420px;
    background: #dab7f1;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.chatheader {
    display: flex;
    align-items: center;
    background: #9882ef;
    padding: 15px 22px;
    justify-content: space-between;
}

.chatheader .header-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-info .chatbot-logo {
    height: 35px;
    width: 35px;
    padding: 6px;
    fill: #1a0336;
    flex-shrink: 0;
    background: #d9b3f1;
    border-radius: 50%;
}

.header-info .logo-text {
    color: #f8ecec;
    font-size: 1.31rem;
    font-weight: 600;
}

.chatheader #close-chatbot {
    border: none;
    color: #fff;
    height: 40px;
    width: 40px;
    font-size: 1.9rem;
    margin-right: -10px;
    padding-top: 2px;
    cursor: pointer;
    border-radius: 50%;
    background: none;
    transition: 0.2s ease;
}

.chatheader #close-chatbot:hover {

    background: #886ef0;
}

.chat-body {
    padding: 25px 22px;
    display: flex;
    gap: 20px;
    height: 460px;
    margin-bottom: 82px;
    overflow-y: auto;
    flex-direction: column;
}

.chat-body .message {
    display: flex;
    gap: 11px;
    align-items: center;
}

.chat-body .bot-message .bot-avatar {
    height: 35px;
    width: 35px;
    padding: 6px;
    margin-bottom: 2px;
    fill: #fff;
    align-self: flex-end;
    flex-shrink: 0;
    background: #9882ef;
    border-radius: 50%;
}

.chat-body .user-message {
    flex-direction: column;
    align-items: flex-end;
}

.chat-body .message .message-text {
    padding: 12px 16px;
    max-width: 75%;
    font-size: 0.95rem;

}

.chat-body .bot-message .message-text {
    background: #e9e9f9;
    border-radius: 13px 13px 13px 3px;
}

.chat-body .user-message .message-text {
    color: #fff;
    background: #9882ef;
    border-radius: 13px 13px 3px 13px;
}

.chat-body .bot-message .thinking-indicator .dot {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: #886ef0;
}

.chat-footer {
    position: absolute;
    

}